debug/
target/
**/*.rs.bk
*.pdb

# RustRover
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

**/wasm_test_data/end/*
**/wasm_test_data/int/*
**/wasm_test_data/root/*
**/wasm_test_data/created_at.txt
nsm-nitro-enclave-utils/pkg
/target
